* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  background-color: white;
  color: #293264;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__content {
  width: 550px;
  height: 550px;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 1.5em;
}

.btn {
  background: #4d5b9e;
  color: #f5f7fb;
  border-radius: 0.6em;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 0.6em 2.7em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus {
  transform: scale(1.02);
  background: #626c9e;
}
